In [1]:
import re
import pandas as pd

RuntimeError: module compiled against API version 0xc but this version of numpy is 0xb

In [2]:
cap_months = {'JAN':'Jan',
              'FEB':'Feb',
              'MAR':'Mar',
              'APRIL':'Apr','APR':'Apr',
              'MAY':'May',
              'JUNE':'Jun','JUN':'Jun',
              'JUL':'Jul','JULY':'Jul',
              'AUGUST':'Aug','AUG':'Aug',
              'SEPT':'Sep','SEP':'Sep',
              'OCT':'Oct',
              'NOV':'Nov',
              'DEC':'Dec'}

In [3]:
'''some example filenames with weird date formats which we want to extract'''

date_list = [' DP Rotating hours Database 13-May-2014.xlsm',
 ' DP Rotating hours Database 8-APRIL-2014.xlsm',
 ' DP Rotating hours Database 20-Jan-2014.xlsm',
 ' DP Rotating hours Database 20-May-2014.xlsm',
 ' DP Rotating hours Database 10-Jul-2014.xlsm',
 'Copy of DP ROTATING HRS TALLY - July24th 2013ver2.xlsm',
 ' DP Rotating hours Database 27-Jan-2014.xlsm',
 ' DP Rotating hours Database 10-June-2014.xlsm',
 ' DP Rotating hours Database 2-Feb-2014.xlsm',
 'DP ROTATING HRS TALLY - June.24th.2013.xlsx',
 'DP ROTATING HRS TALLY - June.3.rd.2013.xlsm',
 'Rotating hours updated July 31 2013.xlsm',
 ' DP Rotating hours Database 23-June-2014.xlsm',
 'Rotating hours updated Aug  9 . 2013 - Copy.xlsm',
 'Rotating hours updated Aug  10 . 2013 -.xlsm',
 ' DP Rotating hours Database 17-Jul-2014.xlsm',
 'Rotating hours UPDATED Dec 6rd  2013 - Copy.xlsx',
 'Rotating hours UPDATED Nov 9th 2013.xlsm',
 ' DP Rotating hours Database 22-Apr-2014.xlsm',
 'DP ROTATING HRS TALLY - May 22.nd.2013.xlsm']

In [4]:
new_list = []
for f in date_list:
    for month in cap_months.keys():
        if f is not None:
            if month in f: f=f.replace(month,cap_months[month])
    new_list.append(f)

In [5]:
new_list

[' DP Rotating hours Database 13-May-2014.xlsm',
 ' DP Rotating hours Database 8-Apr-2014.xlsm',
 ' DP Rotating hours Database 20-Jan-2014.xlsm',
 ' DP Rotating hours Database 20-May-2014.xlsm',
 ' DP Rotating hours Database 10-Jul-2014.xlsm',
 'Copy of DP ROTATING HRS TALLY - July24th 2013ver2.xlsm',
 ' DP Rotating hours Database 27-Jan-2014.xlsm',
 ' DP Rotating hours Database 10-June-2014.xlsm',
 ' DP Rotating hours Database 2-Feb-2014.xlsm',
 'DP ROTATING HRS TALLY - June.24th.2013.xlsx',
 'DP ROTATING HRS TALLY - June.3.rd.2013.xlsm',
 'Rotating hours updated July 31 2013.xlsm',
 ' DP Rotating hours Database 23-June-2014.xlsm',
 'Rotating hours updated Aug  9 . 2013 - Copy.xlsm',
 'Rotating hours updated Aug  10 . 2013 -.xlsm',
 ' DP Rotating hours Database 17-Jul-2014.xlsm',
 'Rotating hours UPDATED Dec 6rd  2013 - Copy.xlsx',
 'Rotating hours UPDATED Nov 9th 2013.xlsm',
 ' DP Rotating hours Database 22-Apr-2014.xlsm',
 'DP ROTATING HRS TALLY - May 22.nd.2013.xlsm']

# Define Regex pattern

In [6]:
# pattern = re.compile(r'^(?:\d{1,2}(?:(?:-|/)|(?:th|st|nd|rd)?\s))?(?:(?:(?:Jan(?:uary)?|Feb(?:ruary)?|Mar(?:ch)?|Apr(?:il)?|May|Jun(?:e)?|Jul(?:y)?|Aug(?:ust)?|Sep(?:tember)?|Oct(?:ober)?|Nov(?:ember)?|Dec(?:ember)?)(?:(?:-|/)|(?:,|\.)?\s)?)?(?:\d{1,2}(?:(?:-|/)|(?:th|st|nd|rd)?\s))?)(?:\d{2,4})$')
# regEx = r'(?:\d{1,2}[-/th|st|nd|rd\s]*)?(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)?[a-z\s,.]*(?:\d{1,2}[-/th|st|nd|rd)\s,]*)+(?:\d{2,4})+'
# pat1 = r'\d+-\w+-\d+'
pat1 = r'(\d+-\w+-\d+)|((?:Jan|JAN|Feb|FEB|Mar|MAR|Apr|APR|May|MAY|Jun|JUN|Jul|JUL|Aug|AUG|Sep|SEP|Oct|OCT|Nov|NOV|Dec|DEC)??[a-z-\s,. ]*(?:\d{1,2}[-/th|st|nd|rd)\s, .]*)+(?:\d{2,4})+)'

In [7]:
def pat1_fun(pat1, x):
    x = re.findall(pat1, x)
    return x

In [8]:
d_list = [pat1_fun(pat1,x) for x in new_list]

In [9]:
d_list = [d[0] if len(d)>0 else None for d in d_list]
dd = []
for d in d_list:
    if d==None: dd.append(None)
    elif d[0]!='': dd.append(d[0])
    else: dd.append(d[1])

In [10]:
dd

['13-May-2014',
 '8-Apr-2014',
 '20-Jan-2014',
 '20-May-2014',
 '10-Jul-2014',
 'July24th 2013',
 '27-Jan-2014',
 '10-June-2014',
 '2-Feb-2014',
 'June.24th.2013',
 'June.3.rd.2013',
 'July 31 2013',
 '23-June-2014',
 'Aug  9 . 2013',
 'Aug  10 . 2013',
 '17-Jul-2014',
 'Dec 6rd  2013',
 'Nov 9th 2013',
 '22-Apr-2014',
 'May 22.nd.2013']

In [11]:
'''pandas to_datetime method does the rest of the job'''
pd.to_datetime(dd).tolist()

[Timestamp('2014-05-13 00:00:00'),
 Timestamp('2014-04-08 00:00:00'),
 Timestamp('2014-01-20 00:00:00'),
 Timestamp('2014-05-20 00:00:00'),
 Timestamp('2014-07-10 00:00:00'),
 Timestamp('2013-07-24 00:00:00'),
 Timestamp('2014-01-27 00:00:00'),
 Timestamp('2014-06-10 00:00:00'),
 Timestamp('2014-02-02 00:00:00'),
 Timestamp('2013-06-24 00:00:00'),
 Timestamp('2013-06-03 00:00:00'),
 Timestamp('2013-07-31 00:00:00'),
 Timestamp('2014-06-23 00:00:00'),
 Timestamp('2013-08-09 00:00:00'),
 Timestamp('2013-08-10 00:00:00'),
 Timestamp('2014-07-17 00:00:00'),
 Timestamp('2013-12-06 00:00:00'),
 Timestamp('2013-11-09 00:00:00'),
 Timestamp('2014-04-22 00:00:00'),
 Timestamp('2013-05-22 00:00:00')]